<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<script src="/resources/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script src="/resources/plugins/select2/select2.full.min.js"></script>
<!-- Main content -->
<section class="content">

    <!-- SELECT2 EXAMPLE -->
    <div class="box box-info">
        <div class="box-header">
            <i class="fa fa-edit"></i>
            <h3 class="box-title">$!{userNick}的密码修改</h3>
            <div class="pull-right box-tools">
##                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
##                    <i class="fa fa-times"></i></button>
            </div>
        </div>

        <form action="/ModifyPasswordServlet" method="post">
            <input id="uid" name ="uid"  type="hidden"  value= "$!{uid}">
            <input id="usernick" name ="usernick"  type="hidden"  value= "$!{userNick}">
            <input id="redirect_url" name ="redirect_url"  type="hidden"  value= "$!{redirect_url}">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            *原密码:<input id="oldPassword" name ="oldPassword"  type="password"    class="form-control" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            *新密码:<input id="newPassword" name ="newPassword"  type="password"    class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            *再次输入:<input id="newPassword2" name ="newPassword2"  type="password"    class="form-control" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                    <button class="btn btn-primary btn-sm btn-flat" type="submit" name="action">确定
                        <i class="mdi-content-send right"></i>
                    </button>
                    &nbsp&nbsp
                    <a  onclick="javascript:history.back(-1);">返回</a>
                    </div>
                    </div>
                </div>
        </form>

    </div>
</section>
<!-- /.content -->

<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
##<!-- Bootstrap 3.3.6 -->
##<script src="/resources/bootstrap/js/bootstrap.min.js"></script>
##<!-- DataTables -->
##<script src="/resources/plugins/datatables/jquery.dataTables.min.js"></script>
##<script src="/resources/plugins/datatables/dataTables.bootstrap.min.js"></script>
##<!-- SlimScroll -->
##<script src="/resources/plugins/slimScroll/jquery.slimscroll.min.js"></script>
##<!-- FastClick -->
##<script src="/resources/plugins/fastclick/fastclick.js"></script>
##<!-- AdminLTE App -->
##<script src="/resources/dist/js/app.min.js"></script>
##<!-- AdminLTE for demo purposes -->
##<script src="/resources/dist/js/demo.js"></script>
<!-- page script -->





