


<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" >
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                执行任务
                <small>Versoin1.0</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-bars"></i> Home</a></li>
                <li class="active">执行任务</li>
            </ol>
        </section>


        <section class="content">

            #parse('/commons/layout/task_run.vm')


        </section>

    </div>


</div>
</body>



